#main-footer {
  align-items: center;
  background-color: #333;
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: .9em;
  height: 140px;
  justify-content: center;
  padding: 40px 20px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}

#main-footer p {
  margin: 0 0 5px;
}

#main-footer p:last-of-type {
  margin: 0;
}
