body {
  background-color: #dfdfdf;
  color: #333;
  font-family: Roboto, sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
}

/* Container */

.container {
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
}

@media (min-width: 840px) {
  .container {
    max-width: 800px;
  }
}

/* Button */

.btn {
  background-color: #33a;
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  transition: .3s;
}

.btn.btn-sm {
  font-size: .8em;
  padding: 5px 10px;
}

a.btn {
  text-decoration: none;
}

.btn:hover {
  background-color: #22c;
}

.btn[disabled] {
  background-color: rgba(120, 120, 120, .8);
  cursor: default;
}

/* Table */

.table {
  border-collapse: collapse;
  width: 100%;
}

.table th {
  font-weight: 600;
}

.table th,
.table td {
  border: 1px solid rgba(0, 0, 0, .5);
  padding: 10px;
}

/* Paginator */

.paginator {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

/* Lists */

dl dt {
  font-weight: 600;
}
